* {
    margin: 0;
    padding: 0;
}

body {
    background: #BDBDBD;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 60vw;
    min-height: 600px;
    background: #fff;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}

h1 {
    text-align: left;
    padding: 10px;
    margin-bottom: 15px;
}

.formContainer {
    margin-bottom: 32px;
}

.formInput {
    padding: 14px 32px 14px 16px;
    border-radius: 10px;
    border: 3px solid #E0E0E0;
    outline: none;
    width: 80%;
    background: transparent;
    color: #000;
    margin-right: 10px;
    font-size: 15pt;
}

.formInput:focus {
    border: 3px solid #EF5350;
}

.formButton {
    padding: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background: #42A5F5;
    color: #fff;
    text-transform: capitalize;
}

.noTask {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 20vh;
    background-color: #BDBDBD;
}

h3 {
    color: #616161;
}

.itemRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #000;
    background: #E0E0E0;
    padding: 16px;
    border-radius: 5px;
    width: 90%;
}

.icons .editIcon {
    margin-right: 5px;
    border: 2px solid #BBDEFB;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

.icons .deleteIcon {
    border: 2px solid #BDBDBD;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

.saveIcon {
    border: 2px solid #BDBDBD;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

.saveIcon:hover {
    background-color: #E3F2FD;
    cursor: pointer;
}

.editIcon:hover {
    background-color: #E3F2FD;
    cursor: pointer;
}

.deleteIcon:hover {
    background-color: #EEEEEE;
    cursor: pointer;
}